In [2]:
import pandas as pd
import os

In [3]:
caminho_arquivo = r"C:\fora do onedrive\Python Scripts\Arquivos\duas metades\consolidado\consolidado.csv"
df = pd.read_csv(caminho_arquivo)

In [4]:
for coluna in df.columns:
    print(f'Coluna: {coluna} Tipo de dado: {df[coluna].dtypes}')

Coluna: Unnamed: 0 Tipo de dado: int64
Coluna: Store Tipo de dado: int64
Coluna: Dept Tipo de dado: int64
Coluna: Date Tipo de dado: object
Coluna: Weekly_Sales Tipo de dado: float64
Coluna: IsHoliday Tipo de dado: bool
Coluna: Temperature Tipo de dado: float64
Coluna: Fuel_Price Tipo de dado: float64
Coluna: MarkDown1 Tipo de dado: float64
Coluna: MarkDown2 Tipo de dado: float64
Coluna: MarkDown3 Tipo de dado: float64
Coluna: MarkDown4 Tipo de dado: float64
Coluna: MarkDown5 Tipo de dado: float64
Coluna: CPI Tipo de dado: float64
Coluna: Unemployment Tipo de dado: float64
Coluna: Type Tipo de dado: object
Coluna: Size Tipo de dado: int64
Coluna: Super_Bowl Tipo de dado: bool
Coluna: Labor_Day Tipo de dado: bool
Coluna: Thanksgiving Tipo de dado: bool
Coluna: Christmas Tipo de dado: bool
Coluna: week Tipo de dado: int64
Coluna: month Tipo de dado: int64
Coluna: year Tipo de dado: int64

In [4]:
df['Temperature'] = df['Temperature'].astype(int)

### CONVERS√ÉO DE DATAS

In [6]:
# Tipo de dado da coluna 'Date': object

print(df['Date'].dtypes)

object

In [7]:
# Formato americano (Ano-M√™s-Dia)
df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,2010-02-05,24924.50,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,2010-02-05,50605.27,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,2010-02-05,13740.12,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,2010-02-05,39954.04,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,2010-02-05,32229.38,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420207,210771,22,54,2011-02-11,109.92,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420208,210772,22,55,2011-02-11,9209.60,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420209,210773,22,56,2011-02-11,881.14,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420210,210774,22,58,2011-02-11,1345.00,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420211,210775,22,59,2011-02-11,555.88,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
print(df['Date'].dtypes)

datetime64[ns]

In [10]:
ano = 2010
ano2 = 2011
ano3 = 2012

In [11]:
df_filtrado = df[df['Date'].dt.year == ano]
df_filtrado.head()

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,2010-02-05,24924.50,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,2010-02-05,50605.27,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,2010-02-05,13740.12,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,2010-02-05,39954.04,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,2010-02-05,32229.38,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010

In [12]:
df_2010_fevereiro = df[(df['Date'].dt.year == 2010) & (df['Date'].dt.month == 2)]
df_2010_fevereiro

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,2010-02-05,24924.50,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,2010-02-05,50605.27,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,2010-02-05,13740.12,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,2010-02-05,39954.04,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,2010-02-05,32229.38,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
416855,207400,22,91,2010-02-26,23248.91,False,35,2.753,0.0,0.0,...,8.283,B,119557,False,False,False,False,8,2,2010
416856,207401,22,92,2010-02-26,48093.04,False,35,2.753,0.0,0.0,...,8.283,B,119557,False,False,False,False,8,2,2010
416857,207402,22,93,2010-02-26,1594.69,False,35,2.753,0.0,0.0,...,8.283,B,119557,False,False,False,False,8,2,2010
416858,207403,22,95,2010-02-26,51955.45,False,35,2.753,0.0,0.0,...,8.283,B,119557,False,False,False,False,8,2,2010
416859,207404,22,97,2010-02-26,4448.53,False,35,2.753,0.0,0.0,...,8.283,B,119557,False,False,False,False,8,2,2010

#### CONVERS√ÉO PARA O FORMATO BRASILEIRO DE DATAS (Dia-M√™s-Ano)

In [15]:
# CONVERTER A COLUNA PARA O PADRAO DATETIME

df['Date'] = pd.to_datetime(df['Date'])
print(df['Date'].dtypes)

datetime64[ns]

In [16]:
# CONVERTER PARA PADR√ÉO BRASILEIRO

df['Date'] = df['Date'].dt.strftime('%d/%m/%Y')
df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,05/02/2010,24924.50,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,05/02/2010,50605.27,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,05/02/2010,13740.12,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,05/02/2010,39954.04,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,05/02/2010,32229.38,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420207,210771,22,54,11/02/2011,109.92,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420208,210772,22,55,11/02/2011,9209.60,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420209,210773,22,56,11/02/2011,881.14,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420210,210774,22,58,11/02/2011,1345.00,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420211,210775,22,59,11/02/2011,555.88,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011

In [16]:
# CONVERTER PARA PADR√ÉO BR NO PRIMEIRO COMANDO

import pandas as pd
import os

df = pd.read_csv(r"C:\fora do onedrive\Python Scripts\Arquivos\duas metades\consolidado\consolidado.csv")

In [18]:
df

,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,1,1,2010-02-05,24924.50,False,42.31,2.572,0.0,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,2,2010-02-05,50605.27,False,42.31,2.572,0.0,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,1,3,2010-02-05,13740.12,False,42.31,2.572,0.0,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,1,4,2010-02-05,39954.04,False,42.31,2.572,0.0,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,1,5,2010-02-05,32229.38,False,42.31,2.572,0.0,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420207,22,54,2011-02-11,109.92,True,28.89,3.255,0.0,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420208,22,55,2011-02-11,9209.60,True,28.89,3.255,0.0,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420209,22,56,2011-02-11,881.14,True,28.89,3.255,0.0,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420210,22,58,2011-02-11,1345.00,True,28.89,3.255,0.0,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420211,22,59,2011-02-11,555.88,True,28.89,3.255,0.0,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011

In [19]:
# TRANSFORMAR EM DATA

df['Date'] = pd.to_datetime(df['Date'])

In [20]:
# CONVERTER PARA O PADRAO BRASILEIRO
df['Date'] = df['Date'].dt.strftime('%d/%m/%Y')

In [21]:
df.to_csv("adicionar_colunas.csv", index=False)