In [1]:
import pandas as pd
import os

In [2]:
caminho_arquivo = r"C:\Users\henry\OneDrive\Documentos\Python Scripts\SQL\arquivos locais\adicionar_colunas.csv"
df = pd.read_csv(caminho_arquivo)
df.head()

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,05/02/2010,24924.50,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,05/02/2010,50605.27,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,05/02/2010,13740.12,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,05/02/2010,39954.04,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,05/02/2010,32229.38,False,42.31,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010

In [3]:
df['Temperature'] = df['Temperature'].astype(int)
df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,05/02/2010,24924.50,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,05/02/2010,50605.27,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,05/02/2010,13740.12,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,05/02/2010,39954.04,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,05/02/2010,32229.38,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420207,210771,22,54,11/02/2011,109.92,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420208,210772,22,55,11/02/2011,9209.60,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420209,210773,22,56,11/02/2011,881.14,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420210,210774,22,58,11/02/2011,1345.00,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420211,210775,22,59,11/02/2011,555.88,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011

In [4]:
# df['week'] = df['week'].astype(str)
# df['month'] = df['month'].astype(str)

# df['Semana e MÃªs'] = df['week'] + ', ' + df['month']

df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Unemployment,Type,Size,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year
0,0,1,1,05/02/2010,24924.50,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
1,1,1,2,05/02/2010,50605.27,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
2,2,1,3,05/02/2010,13740.12,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
3,3,1,4,05/02/2010,39954.04,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
4,4,1,5,05/02/2010,32229.38,False,42,2.572,0.0,0.0,...,8.106,A,151315,False,False,False,False,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420207,210771,22,54,11/02/2011,109.92,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420208,210772,22,55,11/02/2011,9209.60,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420209,210773,22,56,11/02/2011,881.14,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420210,210774,22,58,11/02/2011,1345.00,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011
420211,210775,22,59,11/02/2011,555.88,True,28,3.255,0.0,0.0,...,8.458,B,119557,True,False,False,False,6,2,2011

In [5]:
print(df['Date'].dtype)

df['Date'] = pd.to_datetime(df['Date'], dayfirst=True)

object

In [6]:
print(df['Date'].dtype)

datetime64[ns]

In [7]:
df['Dia'] = df['Date'].dt.day
df['MÃªs'] = df['Date'].dt.month
df['Ano'] = df['Date'].dt.year
df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Temperature,Fuel_Price,MarkDown1,MarkDown2,...,Super_Bowl,Labor_Day,Thanksgiving,Christmas,week,month,year,Dia,MÃªs,Ano
0,0,1,1,2010-02-05,24924.50,False,42,2.572,0.0,0.0,...,False,False,False,False,5,2,2010,5,2,2010
1,1,1,2,2010-02-05,50605.27,False,42,2.572,0.0,0.0,...,False,False,False,False,5,2,2010,5,2,2010
2,2,1,3,2010-02-05,13740.12,False,42,2.572,0.0,0.0,...,False,False,False,False,5,2,2010,5,2,2010
3,3,1,4,2010-02-05,39954.04,False,42,2.572,0.0,0.0,...,False,False,False,False,5,2,2010,5,2,2010
4,4,1,5,2010-02-05,32229.38,False,42,2.572,0.0,0.0,...,False,False,False,False,5,2,2010,5,2,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420207,210771,22,54,2011-02-11,109.92,True,28,3.255,0.0,0.0,...,True,False,False,False,6,2,2011,11,2,2011
420208,210772,22,55,2011-02-11,9209.60,True,28,3.255,0.0,0.0,...,True,False,False,False,6,2,2011,11,2,2011
420209,210773,22,56,2011-02-11,881.14,True,28,3.255,0.0,0.0,...,True,False,False,False,6,2,2011,11,2,2011
420210,210774,22,58,2011-02-11,1345.00,True,28,3.255,0.0,0.0,...,True,False,False,False,6,2,2011,11,2,2011
420211,210775,22,59,2011-02-11,555.88,True,28,3.255,0.0,0.0,...,True,False,False,False,6,2,2011,11,2,2011